body {
  font-family: 'Verdana', arial;
  background: url("images/bg.png") repeat-x top;
  margin: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

#header {
	padding: 20px;
	text-align: left;
	height: 120px;
}
h1 {
  font: 42px "Trebuchet MS";
  padding-left: 20px;
  color: #BD960F;
  float: left;
}
h1 span {
  font: 11px Verdana, Arial, Helvetica, sans-serif;
  color: #777;
  display: block;
  margin-top: 5px;
}
h2 {
  font: 26px "Trebuchet MS";
  text-align: left;
  font-weight: normal;
  margin: 0 0 16px 0;
  color: #BD960F;
  padding: 5px;
}
#menu {
  padding: 10px;
  padding-left: 30px;
  color: #fff;
  text-align: left;
  font-weight: bold;
  background-color: #69C8E9;
}
#menu a {
  text-decoration: none;
  color: #fff;  
}
#menu a:hover {
  font-weight: bold;
}
#submenu {
  padding: 10px;
  padding-left: 30px;
  text-align: left;
}
.col {
	padding: 10px;
    padding-left: 20px;
	text-align: left;
}
.col1 {
  width: 20%;
}
.col2 {
  width: 80%;	
}
.col2 a {
  color: #BC960F;
}
.col2 a:hover, a {
  color: #1B8FB7;
  text-decoration: none;
}
@media (max-width: 756px) {
	.col1 {
	  padding: 0px;
	  width: 100%;
	  float: none;
	}
	.col2 {
	  padding: 0px;
	  width: 100%;
	  float: none;
	}
	.flex-row {
		display: flex;
		flex-direction: column-reverse;
	}
}
.box {
	background-color: #ecf8fc;
	padding-bottom: 5px;
}
.boxheader {
	background-color: #32b4e1;
	color: #fff;
}
p {
    padding: 5px;
}
.submenulink {
  color: #444;
  background: url("images/menu.png") no-repeat center left;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  padding-left: 24px;
  text-decoration: none;
  display: block;
  text-decoration: none;
}
.submenulink:hover {
  color: #BC960F;
}
#footer {
  border-top: 1px solid #C0E8F6;
  color: #555;
  background: url("images/footer.png") repeat-x top;
  margin-top: 30px;
  padding: 60px 0;
  text-align: center;
}