body {
  font: 13px Verdana, Arial, Helvetica, sans-serif;
  background: url("images/bg.png") repeat-x top;
  margin: 0;
  line-height: 16px;
  text-align: center;
}
#wrap {
  width: 1000px;
  margin: 8px;
  text-align: left;
}

h1 {
  font: 42px "Trebuchet MS";
  height: 141px;
  margin: 0;
  padding-top: 55px;
  padding-left: 260px;
  background: url("images/logo.png") no-repeat left;
  color: #BD960F;
}
h1 span {
  font: 11px Verdana, Arial, Helvetica, sans-serif;
  color: #777;
  display: block;
  margin-top: 5px;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#menu {
  float: left;
  margin-bottom: 30px;
  padding-top: 20px;
  color: #fff;
  font-weight: bold;
}
#menu a {
  text-decoration: none;
  color: #fff;  
}
#menu a:hover {
  font-weight: bold;
}

.clear {
  clear: both;
}

#one {
  width: 200px;
  float: left;
  vertical-align: top;
}
#two {
  width: 750px;
  float: right;
  vertical-align: top;
  text-align: justify;
}
#tree {
  width: 1000px;
  vertical-align: top;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  width:100%;
}

h2 {
  font: 26px "Trebuchet MS";
  text-align: left;
  font-weight: normal;
  margin: 0 0 16px 0;
  color: #BD960F;
}

p {
  margin: 0 0 16px 0;
}

#footer {
  border-top: 1px solid #C0E8F6;
  color: #555;
  background: url("images/footer.png") repeat-x top;
  margin-top: 30px;
  padding: 60px 0;
}
#footer a {
  color: #0066CC;
  text-decoration: underline;
}
#footer a:hover {
  color: #990000;
  text-decoration: none;
}

#one a {
  color: #444;
  background: url("images/menu.png") no-repeat center left;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  padding-left: 24px;
  text-decoration: none;
  display: block;
  text-decoration: none;
}
#one a:hover {
  color: #BC960F;
}

#two a {
  color: #BC960F;
}
#two a:hover, a {
  color: #1B8FB7;
  text-decoration: none;
}

#tree a {
  color: #BC960F;
}
#tree a:hover {
  color: #1B8FB7;
  text-decoration: none;
}

#tree h2 {
  font: 26px "Trebuchet MS";
  text-align: left;
  font-weight: normal;
  margin: 0 0 16px 0;
  color: #BD960F;
  padding-left: 0px;
}

.box {
	background-color: #ecf8fc;
	padding-top: 3px;
	padding-bottom: 2px;
}
.boxheader {
	background-color: #32b4e1;
	color: #fff;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	font-weight: bold;
}
